.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #222831;
  color: #fff;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.hero a {
  display: inline-block;
  padding: 0.5em 1em;
  background: #00ADB5;
  color: #222831;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hero a:hover {
  color: #EEEEEE;
  background-color: #393E46;
  transform: scale(1.05);
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #00adb5;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #007b7f;
}

@media (max-width: 768px) {
  .hero {
    padding: 3em 1em;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1em;
  }

  .hero a {
    padding: 0.5em 0.8em;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 0.9em;
  }
}